<style screen="media">


</style>

<div class="force-block"> 
{{#each fml}} 	
		<div id="main-bio-block">
			<div class="performer-image"><img src="{{this.image}}" class="user-image">
			</div>
				<div class="info" id="info-modal">
				<p><strong>Genre:</strong> {{this.genre}}</p>
				<p><strong>Cost:</strong> ${{contractCost}}</p>
				<p><strong>Chart Position:</strong> {{chartPosition}}</p> 
				<p><strong>Play Count:</strong> {{playCount}}</p> 
				<p><strong>Listeners:</strong> {{listener}}</p>    
				</div>
						<div id="user-name"><p>{{this.handle}}</p></div>
								<div class="modal-btn" id="bio-modal" onclick="toggleinfo('#info-{{@index}}')"><p>About Artist</p></div>
										<div class="modal-btn" id="accolades-{{@index}}" onclick="addTo('#accolades-{{@index}}')"><p>Sign Artist</p></div>

											<div class="modal-info-box" id="info-{{@index}}">
												<span class="close" onclick="toggleinfo('#info-{{@index}}')">
												&times;
												</span>
												<div class="info-content">
													<p>{{this.bio}}</p>
												</div>
											</div>

		</div>
{{/each}}		

</div>
		



		<script type="text/javascript">
		

			function toggleinfo(id){
			console.log("button connected at least!")
            $(id).toggle();
        }

        


			
		</script>